.cover-text-color {
    font-weight: 600;
    color: black;
    text-shadow: 0px 0px 5px rgb(228, 219, 217);
    background-color: rgb(232 253 255 / 52%);
}

.profile-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(33, 191, 231, 0.925);
    color: rgb(0, 0, 0);
}

.profile-text p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-card {
    position: relative;
}

div.profile-card .profile-text {
    display: none;
}

/* div.profile-card:hover .profile-text {
    display: flex;
} */

.paralax-item-active {
    display: flex !important;
}